<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<!-- POST-->
			<class name="com.dt.api.users.post.testPOST_VerifyOTP" />
			<class name="com.dt.api.users.post.testPOST_Invitation" />
			<class name="com.dt.api.users.post.testPOST_CancelInvitation" />
			<class name="com.dt.api.users.post.testPOST_UpdatePassword" />
			<class name="com.dt.api.users.post.testPOST_ForgetPassword" />
			<class name="com.dt.api.users.post.testPOST_ResendInvitation" />
			<class name="com.dt.api.users.post.testPOST_VerifyInvitation" />
			<class name="com.dt.api.users.post.testPOST_RegisterUser" />
			<class name="com.dt.api.users.post.testPOST_AcceptInvitation" />
			<class name="com.dt.api.properties.post.testPOST_addproperty" />
			<class name="com.dt.api.properties.post.testPOST_filterusers" />
			<class name="com.dt.api.properties.post.testPOST_togglefavourite" />
			<class name="com.dt.api.zones.post.testPOST_addzone" />
			<class name="com.dt.api.devices.post.testPOST_adddevicesforzone" />
			<class name="com.dt.api.devices.post.testPOST_deviceaction" />
			<class name="com.dt.api.devices.post.testPOST_refreshlockstatus" />


			<!-- GET-->
			<class name="com.dt.api.users.get.testGET_UserDetails" />
			<class name="com.dt.api.users.get.testGET_UserInvites" />
			<class name="com.dt.api.properties.get.testGET_issues" />
			<class name="com.dt.api.properties.get.testGET_propertyallusers" />
			<class name="com.dt.api.properties.get.testGET_propertybyID" />
			<class name="com.dt.api.properties.get.testGET_propertydetails" />
			<class name="com.dt.api.properties.get.testGET_propertytype" />
			<class name="com.dt.api.properties.get.testGET_rooms" />
			<class name="com.dt.api.properties.get.testGET_usstatelist" />
			<class name="com.dt.api.zones.get.testGET_childzones" />
			<class name="com.dt.api.zones.get.testGET_recentzonesinproperty" />
			<class name="com.dt.api.zones.get.testGET_zonecountinproperty" />
			<class name="com.dt.api.zones.get.testGET_Zonesinproperty" />
			<class name="com.dt.api.zones.get.testGET_zonetypes" />
			<class name="com.dt.api.devices.get.testGET_alldevicesforproperty" />
			<class name="com.dt.api.devices.get.testGET_alldevicesforzone" />
			<class name="com.dt.api.devices.get.testGET_deviceactivity" />
			<class name="com.dt.api.devices.get.testGET_devicebatterystatus" />
			<class name="com.dt.api.devices.get.testGET_issuecountsforproperty" />
			<class name="com.dt.api.devices.get.testGET_issuescountforzones" />
			<class name="com.dt.api.devices.get.testGET_issuesforproperty" />
			<class name="com.dt.api.devices.get.testGET_lockstatusfromsmartThings" />
			<class name="com.dt.api.activity.get.testGET_useractivity" />
			<class name="com.dt.api.activity.get.testGET_useractivityinproperty" />
			<class name="com.dt.api.hubdevices.get.testGET_allhubdevices" />
			<class name="com.dt.api.hubdevices.get.testGET_hubdevicebyID" />
			<class name="com.dt.api.role.get.testGET_allroles" />
			<class name="com.dt.api.userrole.get.testGET_userdetails_role" />


			<!-- Delete-->
			<class name="com.dt.api.users.delete.testDELETE_User" />
			<class name="com.dt.api.properties.delete.testDELETE_property" />
			<class name="com.dt.api.zones.delete.testDELETE_zone" />
			<class name="com.dt.api.devices.delete.testDELETE_deletedevicesforzone" />


			<!--PUT -->
			<class name="com.dt.api.properties.put.testPUT_propertyDetail" />
			<class name="com.dt.api.users.put.testPUT_UserDetail" />
			<class name="com.dt.api.zones.put.testPUT_updatezone" />
			<class name="com.dt.api.devices.put.testPUT_movedevices" />
			<class name="com.dt.api.devices.put.testPUT_renamedevice" />
			<class name="com.dt.api.userrole.put.testPUT_updateuserRole" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
